extends layout

block content
  <div class="container" align=center>
  <img src="/images/crimsonkeep_logo_dropshadow.png" style="padding-top: 20%; max-width: 80%; height: auto;">
  <div class="jumbotron" style="color: #ECECEB">
  <h3>We’re actively pursuing investors and publishers. Please feel free to contact us regarding information about this. We’re also open to hearing any other comments, concerns about the game you may have.<br><br>email: <a href="mailto:crimsonkeepgame@gmail.com">crimsonkeepgame@gmail.com</a><br>twitter: <a href="https://twitter.com/crimsonkeep">@crimsonkeep</a></h3>
  </div>
  </div>

