extends layout

block content
  <div class="container" align=center>
  <img src="/images/crimsonkeep_logo_dropshadow.png" style="padding-top: 20%; max-width: 80%; height: auto;">
  <div class="jumbotron" style="color: #ECECEB">
  <h3>We are currently on the lookout for an investor/publisher to fund the remaining development of Crimson Keep. You may contact us about investment opportunities or if you have any other questions or comments.<br><br>email: <a href="mailto:crimsonkeepgame@gmail.com">crimsonkeepgame@gmail.com</a><br>twitter: <a href="https://twitter.com/crimsonkeep">@crimsonkeep</a></h3>
  </div>
  </div>

