extends layout

block content
  <div class="container" align=center>
  <img src="/images/crimsonkeep_logo_dropshadow.png" style="padding-top: 50%; max-width: 80%; height: auto;">
  <div class="jumbotron" style="color: #ECECEB">
  <h2>Crimson Keep is a visceral, first person, dungeon crawling adventure.</h2><br>
  <p>You have been sentenced to death deep beneath the ground in a subterranean labyrinth. Vile forces spew forth from an ancient castle known as Crimson Keep. Slaying monsters, avoiding traps, and becoming strong enough to brave the evil within the keep, is your only hope for survival. Your only hope for escape.</p><br>
  <h2>Will you escape the keep?</h2><br>
  <p>Crimson Keep is being developed by Ian Atherton and Ben Rog-Wilhelm. We're striving to make a game that is easy to pick up and play, has a good amount of depth to keep players interested, is endlessly re-playable, with a cool art style and atmosphere. Thank you for your interest in our game.</p>
  </div>
  <div class="jumbotron" style="color: #ECECEB">
  <h2>Features</h2>
  <ul align=left>
  <li><h3>Randomized Content</h3><ul><li>Dungeon Layouts</li><li>Enemies</li><li>Weapons, equipment, potions, scrolls</li><li>Traps, shrines</li></ul></li>
  <li><h3>Engaging Combat</h3><ul><li>Weapons with different speeds, damage arcs, ranges.</li><li>Many abilities to choose from, useful for different combat situations.</li><li>Locational damage tracking (enemy's have weak points on their body, and status effects can be inflicted depending on where the player hits them)</li></ul></li>
  <li><h3>Paced Perfectly</h3><ul><li>Condense the enjoyment of an MMO's 1-60 grind into about an hour.</li><li>Frequently earn levels, new abilities, and new equipment, that empower the player.</li></ul></li>
  <li><h3>Re-playability</h3><ul><li>Each run should take a player around 90 minutes to complete. With every victory new floors, enemies, classes, and bosses will be unlocked.</li></ul></li>
  <li><h3>Explore. Combat. Escape.</h3><ul><li>Every drop of XP, every piece of loot, and every bit of damage you take could determine whether you survive, or succumb to The Keep's dark power.</li></ul></li>
  <li><h3>Hardcore Roguelike Elements</h3><ul><li>Permadeath</li><li>Cursed items</li><li>Hunger</li><li>Deities</li></ul></li>
  </ul>
  </div>
  <div class="jumbotron" style="color: #ECECEB">
  <h2>Screenshots</h2>
  <div class="row">
  <div class="col-md-6"><a href="#" class="thumbnail"><img src="/images/websitess1.jpg" alt="/images/websitess1.jpg"></a></div>
  <div class="col-md-6"><a href="#" class="thumbnail"><img src="/images/websitess2.jpg" alt="/images/websitess2.jpg"></a></div>
  </div>
  <div class="row">
  <div class="col-md-6"><a href="#" class="thumbnail"><img src="/images/websitess3.jpg" alt="/images/websitess3.jpg"></a></div>
  <div class="col-md-6"><a href="#" class="thumbnail"><img src="/images/websitess4.jpg" alt="/images/websitess4.jpg"></a></div>
  </div>
  </div>
  </div>

